// -- screen geometry -- //
$screen-retina = 1440px
$screen-desktop = 1280px
$screen-tablet = 768px
$screen-mobile = 576px
$border = #c8ced3
$red = #cd370f
$padding = 2rem
$gray = #bfbfbf

:root {
	// -- common colours -- //
	--primary: #20a8d8
	--secondary: #1985ac
	--iconSidebar: #73818f
	--black: #333333
	--white: #FFFFFF
	--baseBackground: #e4e5e6
	--sidebarBackground: #2f353a
	--textPrimary: #1d1e1f
	--topBarBackground: #20a8d8
	--topBarIcon: #FFFFFF
}

/**
// 1. Remove root vars
// 2. Uncomment below
// 3. Replace all vars in code to Stylus vars
// 4. Uncomment lines in /theme/index.ts
//
//$primary = #20a8d8
//$secondary = #1985ac
//$black = #333
//$white = #fff
//$border = #c8ced3
//$icon-sidebar = #73818f
//$base-background = #e4e5e6
//$sidebar-background = #2f353a
//$icon-sidebar = #73818f
//
//:export {
//    primary: $primary
//    secondary: $secondary
//    black: $black
//    white: $white
//    baseBackground: $base-background
//    sidebarBackground: $sidebar-background
//    iconSidebar: $icon-sidebar
//}
 */
