.header {
	display: flex
	align-items: center
	border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0
	padding: 0.75rem 1.25rem
	margin-bottom: 0
	background-color: #f0f3f5
	border-bottom: 1px solid #c8ced3
}

.icon {
	margin-right: 0.5rem
	line-height: initial
}
